{% load static %}
<header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">ABRAHAM</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="{% url 'index'  %}">Home</a>
        <a class="nav-link" href="{% url 'skill' %}">Skill</a>
        <a class="nav-link" href="{% url 'about' %}">About me</a>
        <a class="nav-link" href="{% url 'services' %}">Services</a>
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
      </nav>
    </div>
    <hr class="featurette-divider mt-5">
  </header>