<html>
  {% load static %}
    {% comment %} Head {% endcomment %}
   {% include 'head.html' %}
   
    <body class="d-flex h-100 text-center text-white bg-dark skill"> 
    
        
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
             {% comment %} Header {% endcomment %}
             {% include 'header.html' %}
      
          
            <main class="px-3">
                <div class="container marketing">
                    <div class="row">
                      <div class="col-lg-4">
                        <img class="rounded-circle z-depth-2" width="150px" height="150px" src="{% static 'images/html5.jpeg' %}">
                
                        <h2>HTML 5</h2>
                        <h3>75%</h3>
                        <div class="progress ">
                            <div class="progress-bar pup progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                          </div>
                        
                      </div><!-- /.col-lg-4 -->
                      <div class="col-lg-4">
                        <img class="rounded-circle z-depth-2" width="150px" height="150px" src="{% static 'images/py.jpeg' %}">
                
                        <h2>Python</h2>
                        <h3>55%</h3>
                        <div class="progress ">
                            <div class="progress-bar pup progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%"></div>
                          </div>
                      </div><!-- /.col-lg-4 -->
                      <div class="col-lg-4">
                        <img class="rounded-circle z-depth-2" width="150px" height="150px" src="{% static 'images/c.png' %}">
                
                        <h2>C++</h2>
                        <h3>80%</h3>
                        <div class="progress ">
                            <div class="progress-bar pup progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                          </div>
                      </div><!-- /.col-lg-4 -->
                      
                      
                      
                    </div><!-- /.row -->



                    <div class="row pup">
                        <div class="col-lg-4">
                          <img class="rounded-circle z-depth-2" width="150px" height="150px" src="{% static 'images/java.png' %}">
                  
                          <h2>JAVA</h2>
                          <h3>75%</h3>
                          <div class="progress ">
                              <div class="progress-bar pup progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                            </div>
                          
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                          <img class="rounded-circle z-depth-2" width="150px" height="150px" src="{% static 'images/js.png' %}">
                  
                          <h2>Javascript</h2>
                          <h3>90%</h3>
                          <div class="progress ">
                              <div class="progress-bar pup progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                            </div>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                          <img class="rounded-circle z-depth-2" width="150px" height="150px" src="{% static 'css/kotlen.jpeg' %}">
                  
                          <h2>kotlen</h2>
                          <h3>73%</h3>
                          <div class="progress ">
                              <div class="progress-bar pup progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%"></div>
                            </div>
                        </div><!-- /.col-lg-4 -->
                        
                        
                        
                      </div><!-- /.row -->
                
                
                    
                
                  </div>
              
            </main>
          
            <footer class="mt-auto text-white-50">
              <p>Developed By ABRAHAM</p>
              
            </footer>
          </div>
      
      
          
        
      
      </body>
</html>